<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">

    <title>Clientes</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-2" style="width: 200px;">
                <img src="https://cdn.pixabay.com/photo/2015/12/04/22/20/gear-1077550_960_720.png" class="img-thumbnail" alt="logo">
            </div>
            <div class="col-auto" id="titulo">
                <h1>Clientes</h1>
            </div>
        </div>
    </div>


    <div class="container" id="lista clientes">
        <div class="row align-items-start">
            <div class="col">
                <form class="row gy-2 gx-3 align-items-center">
                    <div class="col-auto">
                      <label class="visually-hidden" for="name">Nombre Completo</label>
                      <input type="text" class="form-control" id="name" placeholder="Nombre Cliente">
                    </div>
                    <div class="col-auto">
                      <label class="visually-hidden" for="autoSizingInputGroup">Deuda</label>
                      <div class="input-group">
                        <div class="input-group-text">$</div>
                        <input type="text" class="form-control" id="deuda" placeholder="Deuda">
                      </div>
                    </div><div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Deuda</label>
                        <input type="date" value="2017-06-01" id="fecha" placeholder="Fecha"/>
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                </form>
                <table class="table" id="tabla-clientes">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Deuda ($)</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Juan</td>
                        <td>600</td>
                        <td>09/06/22</td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-sm">Editar</button>
                            <button type="button" class="btn btn-outline-danger btn-sm">Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Pedro</td>
                        <td>3.500</td>
                        <td>15/03/22</td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-sm">Editar</button>
                            <button type="button" class="btn btn-outline-danger btn-sm">Borrar</button>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Diego</td>
                        <td>1.500</td>
                        <td>30/02/22</td>
                        <td>
                            <button type="button" class="btn btn-outline-success btn-sm">Editar</button>
                            <button type="button" class="btn btn-outline-danger btn-sm">Borrar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-primary">Volver al menú</button>
        </div>
    </div>
</body>
</html>
