<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <div class="page-nav">
        <h1>Clientes</h1>
    </div>

    <div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Deuda$</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Juan</td>
                        <td>3500</td>
                        <td>09/06/22</td>
                    </tr>
                    <tr>
                        <td>Pedro</td>
                        <td>1500</td>
                        <td>15/03/22</td>
                    </tr>
                    <tr>
                        <td>Lucia</td>
                        <td>15900</td>
                        <td>02/09/22</td>
                    </tr>
                </tbody>
            </table>
            <h1>
                <div id="order-shipping" class="order-shipping">
                    <div class="form-group">
                        <label for="name">Nombre Completo:</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <label for="deuda">Deuda:</label>
                        <input type="text" name="deuda" id="deuda">
                    </div>
                    <div class="form-group">
                        <label for="date">Fecha:</label>
                        <input type="date" name="date" id="date">
                    </div>
                </div>
            </h1>
        </div>
    </div>
</body>
</html>