<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Bienvenido</title>
    <style>      
    
    </style>
  </head>

  
        
         
            
  
            <% if (login) { %>            
                <h2>Usuario conectado: <strong><%= name %></strong></h2>
                <a href="logout" class="a-logout">Cerrar Sesión</a>
                <h1>Menú</h1>
                <div id="menu">
                  <ul>
                    <li>
                      <a href="ventas">
                        Ventas
                      </a> 
                    </li>
                    <li>
                      <a href="clientes">
                        Clientes
                      </a> 
                    </li>
                    <li>
                      <a href="proovedores">
                        Proovedores
                      </a> 
                    </li>
                    <li>
                      <a href="inventario">
                        Inventario
                      </a> 
                    </li>
                    <li>
                      <a href="pedidos">
                        Pedidos
                      </a> 
                    </li>
                    <li>
                      <a href="informes">
                        Informes
                      </a> 
                    </li>
                      
                  </ul>
                  
                </div>
                <img src="https://pbs.twimg.com/profile_images/1273019238282866689/yEn2L7ny_400x400.jpg" width="1900px" height="500px">                  
                         
                
            <%} else { %>
                <h1><strong><%= name %></strong></h1>   
                <a href="login" class="a-login">Ir a Login</a>
            <% } %>
         
  
  
</html>